@model PlantsForum.Models.Discussion

@{
    ViewData["Title"] = "Discussion Details";
}

<h1>@Model.Title</h1>

<div>
    @* Larger Image *@
    <img src="~/images/@Model.ImageFilename" alt="@Model.Title" class="img-fluid" style="max-width: 60%; height: auto; padding: 20px;" />
</div>

<div>
    <h4>Content</h4>
    <p>@Model.Content</p>
</div>

<div>
    <p><strong>Created On:</strong> @Model.CreateDate.ToString("MMM d, yyyy")</p>
</div>

<div>
    <a asp-action="Index">Back to Discussions</a>
</div>
